@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css";
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

$primary-color: rgb(14, 107, 194);
$bg-color: #1e1e1e;
$text-color: rgb(255, 255, 255);

$h1_size: 30px;
// RadialProg vars
$stroke-color: $primary-color;
$inner-stroke-color: lighten($bg-color, 4%);

body {
    margin: 0;
    padding: 0;
}

:root {

    --jp-font: "Zen Maru Gothic", sans-serif;
    --lat-font: "Lato", sans-serif;
    --def-font: var(--lat-font);
}
$ffamily: var(--def-font);



.txt,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $ffamily;
    color: $text-color;
}

svg path {
    color: $text-color;
    fill: $text-color;
}

// TODO: Work on this so that Lato works as a fall back for other letters other than JP.
// Jap Font Override
@font-face {
    font-family: 'Zen Maru Gothic' format("truetype");
    src: 'Zen Maru Gothic';
        unicode-range: U+3000-303F, // CJK Symbols and Punctuation
        U+3040-309F, // Hiragana
        U+30A0-30FF, // Katakana
        U+4E00-9FBF, // Common and Uncommon Kanji
        U+FF00-FFEF; // Full-width Roman characters and Half-width Katakana
}

.v-popper--theme-wolf .v-popper__inner div div {
    font-family: $ffamily;
    font-size: 20px;
}